# Mac OS
# ======
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# MATLAB
# ======
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# Unwanted binary files
*.wav
*.nc
*.sofa

# octave crashes
octave-core

# tmp files
*.swp
*.asv

# pdf files
#*.pdf

# omit bash scripts
*.sh

# pictures
*.jpg
*.jpeg
*.gif

# movies
*.mp4
*.flv

# User/programmer specific files.
.NeuroPAL_ID_Preferences.mat
.NeuroPAL_ID_prefs.mat
visualize_light_prefs.mat
visualize
# *.prj - keep this
.NeuroPAL_ID_prefs.mat
visualize_resources/icon.icns
Backup
mac_visualize/*
mac_visualize_*
win_visualize/*
win_visualize_*
NeuroPAL_ID_resources
win_visualize/for_redistribution_files_only/NeuroPAL_ID.exe
win_visualize/for_testing/NeuroPAL_ID.exe
win_visualize/PackagingLog.html
seg_data/auto_vol1/auto_t1_z0.tif
seg_data/auto_vol1/auto_t1_z1.tif
seg_data/auto_vol1/auto_t1_z10.tif
seg_data/auto_vol1/auto_t1_z11.tif
seg_data/auto_vol1/auto_t1_z12.tif
seg_data/auto_vol1/auto_t1_z13.tif
seg_data/auto_vol1/auto_t1_z14.tif
seg_data/auto_vol1/auto_t1_z15.tif
seg_data/auto_vol1/auto_t1_z16.tif
seg_data/auto_vol1/auto_t1_z17.tif
seg_data/auto_vol1/auto_t1_z18.tif
seg_data/auto_vol1/auto_t1_z19.tif
seg_data/auto_vol1/auto_t1_z2.tif
seg_data/auto_vol1/auto_t1_z20.tif
seg_data/auto_vol1/auto_t1_z3.tif
seg_data/auto_vol1/auto_t1_z4.tif
seg_data/auto_vol1/auto_t1_z5.tif
seg_data/auto_vol1/auto_t1_z6.tif
seg_data/auto_vol1/auto_t1_z7.tif
seg_data/auto_vol1/auto_t1_z8.tif
seg_data/auto_vol1/auto_t1_z9.tif
seg_data/data/npal_worm_c1_0.tiff
seg_data/data/npal_worm_c1_1.tiff
seg_data/data/npal_worm_c1_10.tiff
seg_data/data/npal_worm_c1_11.tiff
seg_data/data/npal_worm_c1_12.tiff
seg_data/data/npal_worm_c1_13.tiff
seg_data/data/npal_worm_c1_14.tiff
seg_data/data/npal_worm_c1_15.tiff
seg_data/data/npal_worm_c1_16.tiff
seg_data/data/npal_worm_c1_17.tiff
seg_data/data/npal_worm_c1_18.tiff
seg_data/data/npal_worm_c1_19.tiff
seg_data/data/npal_worm_c1_2.tiff
seg_data/data/npal_worm_c1_20.tiff
seg_data/data/npal_worm_c1_3.tiff
seg_data/data/npal_worm_c1_4.tiff
seg_data/data/npal_worm_c1_5.tiff
seg_data/data/npal_worm_c1_6.tiff
seg_data/data/npal_worm_c1_7.tiff
seg_data/data/npal_worm_c1_8.tiff
seg_data/data/npal_worm_c1_9.tiff
