# Mac OS
# ======
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# MATLAB
# ======
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# Unwanted binary files
*.wav
*.nc
*.sofa

# octave crashes
octave-core

# tmp files
*.swp
*.asv

# pdf files
#*.pdf

# omit bash scripts
*.sh

# pictures
*.jpg
*.jpeg

# movies
*.mp4
*.flv

# User/programmer specific files.
.NeuroPAL_ID_Preferences.mat
.NeuroPAL_ID_prefs.mat
visualize_light_prefs.mat
visualize
# *.prj - keep this
.NeuroPAL_ID_prefs.mat
visualize_resources/icon.icns
Backup
mac_visualize/*
mac_visualize_*
win_visualize/*
win_visualize_*
NeuroPAL_ID_resources
win_visualize/for_redistribution_files_only/NeuroPAL_ID.exe
win_visualize/for_testing/NeuroPAL_ID.exe
win_visualize/PackagingLog.html
*.tif
venv/
External_Dependencies/matnwb/*
External_Dependencies/3dct/*
.idea/vcs.xml
.idea/NeuroPAL_ID.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
temp.csv
log.txt
temp.csv
.idea/.name
External_Dependencies/ZephIR/web-wrap/wrap-browser-win32-x64/wrap-browser.exe
.idea/.name
cache.mat
cache.mat
meta_cache.mat
.idea/.name
.idea/.name
cache.mat
meta_cache.mat
nwb_cache.mat
atlas_master.mlapp
cache.mat
meta_cache.mat
temp.csv
*.gem
.bundle
.jekyll-cache
.jekyll-metadata
_site

# Ignore hidden folders #
# This takes care of .tmp, .sass-cache, and many others #
.*/

# Ignore OS generated files #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Ignore packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Always-ignore these #
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/logo100.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/logo64.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/logoLarge.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/logoMed.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/pwrdLogo100.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/pwrdLogo175.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/pwrdLogo150.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/pwrdLogo200.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/pwrdLogo75.gif
External_Dependencies/3dct/CellTracker/python/dist/npal_seg/tk/images/tai-ku.gif
Data/Images/loading-activity.gif
Data/Images/loading-videos.gif
Data/Images/opening-nwb-file.gif
Data/Images/saving-nwb-files.gif
doc/media/loading-activity.gif
doc/media/loading-videos.gif
doc/media/opening-nwb-file.gif
doc/media/saving-nwb-files.gif
External_Dependencies/matnwb/doc/demoicon.gif
External_Dependencies/matnwb/doc/matlabicon.gif
External_Dependencies/matnwb/doc/simulinkicon.gif
.idea/.name
*.pyc
*.pyc
*.toc
*.pyc
*.pyz
+Wrapper/build/main/warn-main.txt
*.html
+Wrapper/main.spec
.idea/.name
*.pkg
