matplotlib~=3.8.3
numpy==1.23.4
opencv_python
Pillow==9.4.0
scikit_learn==1.2.1
scipy==1.10.0
scikit-image==0.19.3
tensorflow==2.10.0
zephir~=1.0.4
pynwb~=2.6.0
hdmf~=3.13.0
tifffile~=2023.4.12
ndx-multichannel-volume
h5py~=3.10.0
docopt~=0.6.2
tables
mat73~=0.65
torch~=2.0.0+cu118
tqdm~=4.65.0
pandas~=1.4.2
opencv-python~=4.5.5.64
PIMS~=0.6.1
python-dateutil~=2.8.2
argparse~=1.4.0
dataclasses~=0.6
scikit-learn~=1.2.1
ipython~=8.12.0
traitlets~=5.9.0